.flex-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

code {
  background: rgba(135,131,120,0.15);
  color: #EB5757;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.05em 0.4em;
}